/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  margin: 0;
  position: relative;

}

.asteroid {
  position: absolute;
  /*background-image: url("asteroid.png");*/
  animation-name: tutsFade;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.board {
  position: absolute;
}

.player {
  position: absolute;
}

@keyframes tutsFade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
