/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  margin: 0;
  position: relative;

}

.asteroid {
  position: absolute;
}

.board {
  position: absolute;
}

.player {
  position: absolute;
}